opencv-python==4.6.0.66
matplotlib==3.6.1
scikit_learn
Pillow==9.3.0
flask_restful
requests==2.28.1
Flask==2.2.2
numpy==1.23.4
Werkzeug==2.2.2
urllib3==1.26.12
loguru==0.6.0
flask-swagger-ui
flask-cors
waitress
scikit-learn==1.1.3